<div class="ui-dialog-content ui-widget-content" style="padding: 0;">
    <div class="vs-form-container default-control-label-width vs-modal-content-panel">
        <form action="" [formGroup]="formGroup">
            <div class="vs-form-container default-control-label-width">
                <div class="ui-g row">
                    <div class="ui-g-12 ui-lg-12">
                        <div *ngIf="modelEdit.id <= 0" class="ui-g-12 ui-lg-12">
                            <div class="vs-form-control ui-g">
                                <div class="__form-control-label ui-g-12 ui-md-4">Thêm sản phẩm</div>
                                <div class="__form-control-inputs ui-g-12 ui-md-8">
                                    <div class="__input-wrapper required">
                                        <p-autoComplete [(ngModel)]="key" formControlName="key" field="name" [suggestions]="results" (completeMethod)="autoComplete($event)" [size]="30" placeholder="Nhập tên hoặc mã sản phẩm" [minLength]="1" (onSelect)="onSelect($event)">
                                        </p-autoComplete>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div *ngIf="modelEdit.id <= 0" class="ui-g-12 ui-lg-12" style="margin-bottom: 15px;">
                            <div class="ui-g vs-table-wrapper vs-table-wrapper-edit" id="table">
                                <p-table #mainTable [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="false" scrollHeight="auto" [value]="selectedProduct" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table" [customSort]="false"
                                    [loading]="isLoading" [lazy]="false" [resizableColumns]="true" dataKey="id" [style]="{'min-height': '200px'}">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col [style.width]="'3%'">
                                            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                                <ng-container *ngSwitchDefault>
                                                    <col [hidden]="!col.visible" [style.width]="col.width">
                                                </ng-container>
                                            </ng-container>
                                        </colgroup>
                                    </ng-template>
    
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th class="align-center" style="width: 3%;">STT</th>
                                            <ng-container *ngFor="let col of columns;">
                                                <th class="ui-resizable-column" [hidden]="!col.visible"> {{col.header}}</th>
                                            </ng-container>
                                            <th class="align-center" style="width: 100px"></th>
                                        </tr>
                                    </ng-template>
    
                                    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                        <tr align="center">
                                            <td style="width: 3%;">{{rowIndex + 1}}</td>
    
                                            <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                                <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">
                                                    <span *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                                    <ng-container *ngSwitchCase="'quantity'">
                                                        <input type="text" [(ngModel)]="item.quantity" formControlName="quantity" style="width:100%" />
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'quantityMin'">
                                                        <input type="text" [(ngModel)]="item.quantityMin" formControlName="quantityMin" style="width:100%" />
                                                    </ng-container>
                                                </td>
                                            </ng-container>
                                            <td style="width: 100px">
                                                <button type="button" class="vs-btn vs-btn-green" (click)="onUpdateProduct(item,rowIndex)" pTooltip="Upadte">
                                                    <span class="__icon fa fa-save"></span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="vs-btn vs-btn-red" (click)="onRemove(rowIndex)" pTooltip="Xoá">
                                                    <span class="__icon fa fa-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        <div *ngIf="modelEdit.id > 0" class="vs-form-control ui-g" >
                            <div class="__form-control-label ui-g-12 ui-md-3">Cập nhật số lượng kho</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-9">
                                <div class="__input-wrapper required" style="position: relative;">
                                    <input type="number" [(ngModel)]="modelEdit.quantity" formControlName="quantity" placeholder="Số lượng kho" />
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['quantity'].hasError('required') && formGroup.controls['quantity'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['quantity'].hasError('pattern') && formGroup.controls['quantity'].touched">
                                        Phải là ký tự số!</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="modelEdit.id > 0" class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-3">Cảnh báo nhập hàng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-9">
                                <div class="__input-wrapper required" style="position: relative;">
                                    <input type="number" [(ngModel)]="modelEdit.quantityMin" formControlName="quantityMin" placeholder="Cảnh báo nhập hàng" />
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['quantityMin'].hasError('required') && formGroup.controls['quantityMin'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['quantityMin'].hasError('pattern') && formGroup.controls['quantityMin'].touched">
                                        Phải là ký tự số!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="ui-dialog-footer ui-widget-content" style="padding: 20px 0 0 0;">
    <p-footer>
        <div class="ui-g row">
            <div class="ui-g-12 __right">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" (click)="onSave()" type="button">
                    <span class="__icon fa fa-floppy-o"></span>
                    <span class="__label">Cập nhật</span>
                </button>
                <button type="button" (click)="closeAndSelected()" class="vs-btn vs-modal-btn vs-btn-action-back">
                    <span class="__icon fa fa-times"></span>
                    <span class="__label">Đóng</span>
                </button>
            </div>
        </div>
    </p-footer>
</div>