<div class="vs-page-content app-promotion-index">
    <div class="vs-page-content-header-area">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7 ui-lg-9 __page-title-wrapper">
                <h1 class="__page-title">Quản lý level ctv</h1>
            </div>

            <div class="ui-g-12 ui-md-5 ui-lg-3 __search-box-wrapper">
                <div class="__search-box">
                    <input type="search" placeholder="Nhập từ khóa" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.key">

                    <span class="__toggle-search-adv" (click)="toggleSearch()">
                        <span [hidden]="openSearchAdv" class="fa fa-angle-double-down"></span>
                    <span [hidden]="!openSearchAdv" class="fa fa-angle-double-up "></span>
                    </span>

                    <span class="__search-btn" (click)="onSearch()">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="ui-g" [hidden]="!openSearchAdv">
            <div class="ui-g-12 __search-filter-wrapper">
                <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.isActive" [options]="active_options">
                </p-dropdown>
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" type="button" (click)="onSearch()">
                    <span class="__icon fa fa-search"></span>
                    <span class="__label">Tìm kiếm</span>
                </button>
            </div>
        </div>
    </div>

    <div class="vs-page-content-body-area">
        <div class="vs-data-table-area">
            <div class="ui-g vs-data-table-area-inner">
                <div class="ui-g-12 ui-lg-12 __main-table-area">

                    <div class="ui-g __top-table-action">
                        <div class="ui-g-6 __left-content">
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-edit" (click)="onEdit(0)">
                                <span class="__icon fa fa-plus"></span>
                                <span class="__label">Tạo mới</span>
                            </button>

                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="exportExcel()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Xuất danh sách</span>
                            </button>

                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-print" [hidden]="!isMultiEdit">
                                <span class="__icon fa fa-print"></span>
                                <span class="__label">In danh sách</span>
                            </button>
                        </div>

                        <div class="ui-g-6 __right-content">
                            <ul class="__action-tabs">
                                <li #columnListContainer class="__tab-item-wrapper __toggle-column-wrapper">
                                    <div class="__tab-item" (click)="toggleColumnList()">
                                        <span class="__icon pi pi-th-large"></span>
                                        <span class="__label">Chọn cột</span>
                                    </div>
                                    <div class="__column-list" [hidden]="!openColumnList">
                                        <div *ngFor="let col of cols" class="__column-item">
                                            <p-checkbox binary="true" [(ngModel)]="col.visible" name="groupname" label="{{col.header}}"></p-checkbox>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="ui-g vs-table-wrapper" id="table">
                        <p-table #mainTable [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="true" scrollHeight="auto" [value]="dataSource" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table" [customSort]="true" (onSort)="onSort($event)"
                            [paginator]="true" [loading]="isLoading" [lazy]="true" (onPage)="onPage($event)" [resizableColumns]="true" dataKey="id">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col [style.width]="'40px'">
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <ng-container *ngSwitchDefault>
                                            <col [hidden]="!col.visible" [style.width]="col.width" pResizableColumn>
                                        </ng-container>
                                    </ng-container>
                                    <col [style.width]="'90px'">
                                </colgroup>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="align-center">STT</th>
                                    <ng-container *ngFor="let col of columns;">
                                        <th class="ui-resizable-column" [hidden]="!col.visible" pResizableColumn [pSortableColumn]="col.sort ? col.field : ''" class="ui-resizable-column">
                                            {{col.header}}
                                            <span *ngIf="col.sort">
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </span>
                                        </th>
                                    </ng-container>
                                    <th class="ui-text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                <tr align="center">
                                    <td>{{rowIndex + 1}}</td>

                                    <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                        <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">

                                            <ng-container *ngSwitchCase="'startDate'">
                                                <span>{{item.startDate | date :'dd/MM/yyyy':'UTC'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'endDate'">
                                                <span>{{item.endDate | date :'dd/MM/yyyy':'UTC'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'isActive'">
                                                <span *ngIf="item.isActive == false" class="vs-status vs-status-waiting">
                                                    Không sử dụng
                                                </span>
                                                <span *ngIf="item.isActive == true" class="vs-status vs-status-valid">
                                                    Sử dụng
                                                </span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'mode'">
                                                <span *ngIf="item.mode == 1" class="vs-status vs-status-waiting">
                                                    %
                                                </span>
                                                <span *ngIf="item.mode == 2" class="vs-status vs-status-valid">
                                                    $
                                                </span>
                                            </ng-container>
                                            <!-- <ng-container *ngSwitchCase="'image'">
                                                <vs-view-image [(file)]="item[col.field]" [height]="'80'">
                                                </vs-view-image>
                                            </ng-container> -->
                                            <span class="ui-resizable-column" *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                        </td>
                                    </ng-container>

                                    <td class="vs-hidden-print">
                                        <div class="vs-table-row-actions ui-text-center">
                                            <button type="button" class="vs-btn icon-only vs-btn-action-edit" [authorize]="{'dapfood.api': { productsController: 0 }}" (click)="onEdit(item.id)" pTooltip="Cấu hình sản phẩm">
                                                <span class="__icon fa fa-edit"></span>
                                            </button>
                                            <button type="button" class="vs-btn icon-only vs-btn-red" (click)="onDelete(item.id)" pTooltip="Xoá">
                                                <span class="__icon fa fa-times"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="paginatorleft" let-state>
                                <div class="vs-table-paginator">
                                    Hiển thị

                                    <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" (onChange)="onChangeRowLimit()" [options]="listItemNumberPerPage" [(ngModel)]="limit">
                                    </p-dropdown>
                                    / trang
                                    <span class="__total-record"> - Có {{total}} mục trong danh sách</span>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-level-edit (closePopup)="onCloseForm()"></app-level-edit>