.text_blue{    
    color:#1ca7ff ;
    font-weight: bold;
}
.text_black{
    color:#000 ;
    font-weight: bold;
}
.text_green{
    color:#14b545 ;
    font-weight: bold;
}
.text_red{
    color:red ;
    font-weight: bold;
}
.text_orange{
    color:orange ;
    font-weight: bold;
}