<p-dialog #dialog [header]="'Thêm/sửa Món ăn'" styleClass="vs-modal force-full-width" positionTop="50" [(visible)]="isShow" [style]="{'max-width': '1100px'}" [contentStyle]="{'max-height': getMaxDialogHeight()}" [modal]="true" appendTo="body">
    <div class="vs-form-container default-control-label-width vs-modal-content-panel app-foods-edit">

        <div class="vs-form-container default-control-label-width">
            <div class="ui-g row">
                <form action="" [formGroup]="formGroup">
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Tên</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <input type="text" [(ngModel)]="modelEdit.name" formControlName="name" placeholder="Tên" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Ảnh đại diện</div>
                            <div class="__input-wrapper">
                                <vs-single-fsfile-upload [chooseLabel]="'Chọn ảnh'" formControlName="image" [(ngModel)]="modelEdit.image"></vs-single-fsfile-upload>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Banner</div>
                            <div class="__input-wrapper">
                                <vs-single-fsfile-upload [chooseLabel]="'Chọn ảnh'" formControlName="banner" [(ngModel)]="modelEdit.banner"></vs-single-fsfile-upload>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Thêm sản phẩm</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <p-autoComplete [(ngModel)]="key" formControlName="key" [suggestions]="results" (completeMethod)="autoComplete($event)" field="name" [size]="30" placeholder="Nhập tên hoặc mã sản phẩm" [minLength]="1" (onSelect)="onSelect($event)">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12" style="margin-bottom: 15px;">
                        <div class="ui-g vs-table-wrapper vs-table-wrapper-edit" id="table">
                            <p-table #mainTable [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="false" scrollHeight="auto" [value]="selectedProduct" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table" [customSort]="false"
                                [loading]="isLoading" [lazy]="false" [resizableColumns]="true" dataKey="id" [style]="{'min-height': '200px'}">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="align-center" [style.width]="'40px'">STT</th>
                                        <ng-container *ngFor="let col of columns;">
                                            <th class="ui-resizable-column" [hidden]="!col.visible"> {{col.header}}</th>
                                        </ng-container>
                                        <th class="align-center" style="width: 10%;"></th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                    <tr align="center">
                                        <td>{{rowIndex + 1}}</td>

                                        <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                            <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">
                                                <span *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                            </td>
                                        </ng-container>
                                        <td style="width: 10%;">
                                            <button type="button" class="vs-btn icon-only vs-btn-red" (click)="onRemove(rowIndex)" pTooltip="Xoá">
                                                <span class="__icon fa fa-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Danh mục</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-tree [value]="dataTree" [loading]="isLoading" [metaKeySelection]="true" dataKey="value" [selectionMode]="'checkbox'" [(selection)]="selectedTreeNode" [filter]="true" [style]="{'width': '100%'}" (onNodeSelect)="nodeSelect($event)" scrollHeight="20px" class="tree">
                                        <ng-template let-node pTemplate="default">
                                            <span style="width:100%">{{node.label}}</span>
                                        </ng-template>
                                    </p-tree>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Ghi chú</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <textarea type="text" [(ngModel)]="modelEdit.description" rows="3" formControlName="description" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="ui-g">
                            <div class="title ui-g-12 ui-md-12">Nội dung chi tiết</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-12">
                                <div class="__input-wrapper">
                                    <p-editor formControlName="detail" [(ngModel)]="modelEdit.detail" [style]="{'height':'220px'}"></p-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <br>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Thời gian hiển thị Từ ngày</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-calendar formControlName="showFromDate" [hourFormat]="24" [stepHour]="1" [baseZIndex]="15000" [showTime]="true" [showIcon]="true" placeholder="Từ ngày" appendTo="body" [(ngModel)]="modelEdit.showFromDate">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Đến ngày</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-calendar class="maxWidth" [(ngModel)]="modelEdit.showToDate" [stepHour]="1" [hourFormat]="24" [showTime]="true" formControlName="showToDate" [showIcon]="true"  placeholder="Đến ngày">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Thứ tự</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <input type="number" [(ngModel)]="modelEdit.sort" formControlName="sort" placeholder="Thứ tự" style="width: 170px ;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-g row">
            <div class="ui-g-12">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" [disabled]="!formGroup.valid" (click)="save()" type="button">
                    <span class="__icon fa fa-floppy-o"></span>
                    <span class="__label">Lưu</span>
                </button>
                <button type="button" (click)="closePopupMethod(null)" class="vs-btn vs-modal-btn vs-btn-action-back">
                    <span class="__icon fa fa-times"></span>
                    <span class="__label">Đóng</span>
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>