.text_blue{    
    color:#1ca7ff ;
    font-weight: bold;
}
.text_black{
    color:#000 ;
    font-weight: bold;
}
.text_green{
    color:#14b545 ;
    font-weight: bold;
}
.text_red{
    color:red ;
    font-weight: bold;
}
.text_orange{
    color:orange ;
    font-weight: bold;
}
.name-emp{
    margin-bottom: 5px;
}
.phone-emp{
    color: rgb(173, 173, 173);
    margin: 0;
    i {
        color:#14b545;
    }
}
.sdthover:hover {
    background-color: bisque !important;
    cursor: url(../../../assets/images/ringer-volume.png), auto;
}
.text_blue{    
    color:#1ca7ff ;
    font-weight: bold;
}
.text_black{
    color:#000 ;
    font-weight: bold;
}
.text_green{
    color:#14b545 ;
    font-weight: bold;
}