<div class="vs-page-content app-order-admin">
    <div class="vs-page-content-header-area">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7 ui-lg-9 __page-title-wrapper">
                <h1 class="__page-title">Danh sách đơn hàng DapFood</h1>
            </div>

            <div class="ui-g-12 ui-md-5 ui-lg-3 __search-box-wrapper">
                <div class="__search-box">
                    <input type="search" placeholder="Nhập thông tin tìm kiếm" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.key">
                    <span class="__toggle-search-adv" (click)="toggleSearch()">
                        <span [hidden]="openSearchAdv" class="fa fa-angle-double-down"></span>
                        <span [hidden]="!openSearchAdv" class="fa fa-angle-double-up "></span>
                    </span>
                    <span class="__search-btn" (click)="onSearch()">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="ui-g" [hidden]="!openSearchAdv">
            <div class="ui-g-12 __search-filter-wrapper">
                <!-- <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.idProduct"
                    [options]="product_options" (onChange)="onSearch()">
                </p-dropdown> -->
                <!-- 
                <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.statusBanHang"
                    [options]="statusBanHang_options" (onChange)="onSearch()">
                </p-dropdown> -->

                <p-checkbox [binary]="true" [(ngModel)]="searchModel.isPaidReward" label="Đơn thành công" (onChange)="CheckedIsPaidReward()"></p-checkbox>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.fromDate" dateFormat="dd/mm/yy" [showIcon]="true" class="maxWidth" psDateOnly placeholder="Từ ngày" utc="true" psDateOnly [locale]="vi" *ngIf="searchModel.isPaidReward != true">
                </p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.toDate" dateFormat="dd/mm/yy" [showIcon]="true" class="maxWidth" psDateOnly placeholder="Đến ngày" utc="true" psDateOnly [locale]="vi" *ngIf="searchModel.isPaidReward != true">
                </p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.fromUpdate" dateFormat="dd/mm/yy" [showIcon]="true" class="maxWidth" psDateOnly placeholder="Thành công từ ngày" utc="true" psDateOnly [locale]="vi" *ngIf="searchModel.isPaidReward == true">
                </p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.toUpdate" dateFormat="dd/mm/yy" [showIcon]="true" class="maxWidth" psDateOnly placeholder="Thành công đến ngày" utc="true" psDateOnly [locale]="vi" *ngIf="searchModel.isPaidReward == true">
                </p-calendar>

                <p-dropdown [showClear]="true" placeholder="-- Đơn vị --" appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.idClient" [options]="clients_options" (onChange)="onSearch()">
                </p-dropdown>
                <input type="search" placeholder="Nhập tên hoặc sđt ctv" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.ctv">

                <!-- <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.status"
                    [options]="status_options" (onChange)="onSearch()">
                </p-dropdown> -->

                <p-multiSelect [options]="status_options" [(ngModel)]="searchModel.status" defaultLabel="-- Trạng thái --" appendTo="body">
                    <ng-template let-value pTemplate="selectedItems">
                        <div *ngFor="let val of value; index as i" class="vs-multi-select-tag" [hidden]="i > 2">
                            <span>{{getSelectedItemLabel(status_options, val)}}</span>
                        </div>
                        <div class="vs-multi-select-tag" *ngIf="searchModel.status.length > 2">
                            <span>...</span>
                        </div>
                        <div *ngIf="!value || value.length === 0" class="vs-multi-select-placeholder">-- Trạng thái --</div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <span>{{item.label}}</span>
                    </ng-template>
                </p-multiSelect>

                <p-dropdown [showClear]="true" placeholder="-- Loại đơn --" appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.orderType" [options]="orderType_options" (onChange)="onSearch()">
                </p-dropdown>

                <!-- <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.idGroup"
                    [options]="group_options" (onChange)="onSearch()">
                </p-dropdown> -->

                <p-checkbox [binary]="true" [(ngModel)]="searchModel.isDeleted" label="Đã xóa"></p-checkbox>

                <!-- <input type="search" placeholder="Số ngày" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.dayNumber"
                    style="width: 75px;"> -->

                <button class="vs-btn vs-modal-btn vs-btn-action-edit" type="button" (click)="onSearch()">
                    <span class="__icon fa fa-search"></span>
                    <span class="__label">Tìm kiếm</span>
                </button>
            </div>
        </div>
    </div>

    <div class="vs-page-content-body-area">
        <div class="vs-data-table-area">
            <div class="ui-g vs-data-table-area-inner">
                <div class="ui-g-12 ui-lg-12 __main-table-area">
                    <div class="ui-g __top-table-action">
                        <div class="ui-g-6 __left-content">
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="exportExcel()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Xuất danh sách</span>
                            </button>
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="GetListOrdersNeedShip()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Gọi Ship đơn cần đi</span>
                            </button>
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="GetListOrdersWattingShip()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Gọi Ship đơn chờ đi</span>
                            </button>
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="GetIsSyn()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Đồng bộ địa chỉ</span>
                            </button>

                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-print" [hidden]="!isMultiEdit">
                                <span class="__icon fa fa-print"></span>
                                <span class="__label">In danh sách</span>
                            </button>
                        </div>

                        <div class="ui-g-6 __right-content">
                            <ul class="__action-tabs">
                                <li #columnListContainer class="__tab-item-wrapper __toggle-column-wrapper">
                                    <div class="__tab-item" (click)="toggleColumnList()">
                                        <span class="__icon pi pi-th-large"></span>
                                        <span class="__label">Chọn cột</span>
                                    </div>
                                    <div class="__column-list" [hidden]="!openColumnList">
                                        <div *ngFor="let col of cols" class="__column-item">
                                            <p-checkbox binary="true" [(ngModel)]="col.visible" name="groupname" label="{{col.header}}"></p-checkbox>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="ui-g vs-table-wrapper" id="table">
                        <p-table #mainTable [frozenValue]="dataTotal" [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="true" scrollHeight="auto" [value]="dataSource" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table" [customSort]="true" (onSort)="onSort($event)" [paginator]="true" [loading]="isLoading" [lazy]="true" (onPage)="onPage($event)" [resizableColumns]="true" dataKey="id">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col [style.width]="'40px'">
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <ng-container *ngSwitchDefault>
                                            <col [hidden]="!col.visible" [style.width]="col.width" pResizableColumn [pSortableColumn]="col.sort ? col.field : ''">
                                        </ng-container>
                                    </ng-container>
                                    <col [style.width]="'115px'">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="frozenrows" let-rowData let-columns="columns">
                                <tr style="background-color:lightskyblue">
                                    <th></th>
                                    <td class="ui-text-right" *ngFor="let col of columns" [hidden]="!col.visible">
                                        <b>{{rowData[col.field] | mask :'separator.0':'.'}}</b>
                                    </td>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="align-center">STT</th>
                                    <ng-container *ngFor="let col of columns;">
                                        <th class="ui-resizable-column" [hidden]="!col.visible" pResizableColumn [pSortableColumn]="col.sort ? col.field : ''" class="ui-resizable-column">
                                            {{col.header}}
                                            <span *ngIf="col.sort">
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </span>
                                        </th>
                                    </ng-container>
                                    <th class="ui-text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                <tr align="center">
                                    <td>{{rowIndex + 1}}</td>

                                    <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                        <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">

                                            <ng-container *ngSwitchCase="'listNameProduct'">
                                                <span style="white-space: pre;">{{item.listNameProduct}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'idRef'">
                                                <a (click)="onEdit(item.idRef)">{{item.idRef}} </a>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'idParent'">
                                                <a (click)="onEdit(item.idParent)">{{item.idParent}} </a>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'ctvName'">
                                                <div class="image_name_user">
                                                    <img src="{{getAvatar(item.avatar)}}" alt="">
                                                    <a class="link_name" (click)="onShowDetailUserCurr(item)">{{item.ctvName}} </a>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'ctv'">
                                                <span [pTooltip]="item.ctvPhone">{{item.ctv}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'status'">
                                                <span class=" " [innerHTML]="GetStatus(item)" [pTooltip]="item.reason"></span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'paymentChannel'">
                                                <span *ngIf="item.paymentChannel === 0">COD</span>
                                                <span *ngIf="item.paymentChannel === 1">Ví DapFood</span>
                                                <span *ngIf="item.paymentChannel >= 2">Online</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'isPrepay'">
                                                <span *ngIf="item.isPrepay == true" class="__icon fa fa-check" pTooltip="Đã thanh toán"></span>
                                                <div *ngIf="item.paymentChannel >= 1 && item.isPaid == true" class="alepay-success" [pTooltip]="item.alepayMessage">
                                                    <span *ngIf="item.paymentChannel == 1">Bapi</span>
                                                    <span *ngIf="item.paymentChannel == 2">Momo</span>
                                                    <span *ngIf="item.paymentChannel == 3">Zalo</span>
                                                    <span *ngIf="item.paymentChannel == 4">VnPay</span>
                                                </div>

                                                <div *ngIf="item.alepayCode">
                                                    {{item.alepayCode}}
                                                </div>
                                                <span *ngIf="item.paymentChannel >= 2 && item.isPaid == false" class="alepay-erorr" [pTooltip]="item.alepayMessage">(Pending)</span>
                                            </ng-container>
                                            <span class="ui-resizable-column" *ngSwitchDefault class="break-word">
                                                <ng-container *ngIf="(col.dataType==='number'); else date">
                                                    {{item[col.field] | mask :'separator.0':'.'}}
                                                </ng-container>
                                                <ng-template #date>
                                                    <ng-container *ngIf="(col.dataType==='date'); else elseNotDone">
                                                        {{item[col.field] | date :'HH:mm dd/MM/yyyy':'UTC'}}
                                                    </ng-container>
                                                </ng-template>
                                                <ng-template #elseNotDone>
                                                    {{item[col.field]}}
                                                </ng-template>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <td class="vs-hidden-print">
                                        <div class="vs-table-row-actions ui-text-right">
                                            <div class="vs-table-row-actions ui-text-left">
                                                <button type="button" class="vs-btn vs-btn-green" (click)="onEdit(item.id)" pTooltip="Chi tiết" tooltipPosition="left">
                                                    <span class="__icon fa fa-eye"></span>
                                                </button>

                                                <button type="button" class="vs-btn vs-btn-violet" (click)="onViewHistory(item)" pTooltip="Lịch sử đơn hàng" tooltipPosition="left">
                                                    <span class="__icon fa fa-history"></span>
                                                </button>

                                                <button type="button" class="vs-btn vs-btn-red" *ngIf="item.isDeleted != true && (item.idStatus === EnumOrderStatus.ChuaXacNhan || item.idStatus === EnumOrderStatus.HuyDon)" (click)="onDelete(item.id)" pTooltip="Xóa đơn hàng" tooltipPosition="left">
                                                    <span class="__icon fa fa-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="paginatorleft" let-state>
                                <div class="vs-table-paginator">
                                    Hiển thị

                                    <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" (onChange)="onChangeRowLimit()" [options]="listItemNumberPerPage" [(ngModel)]="limit">
                                    </p-dropdown>
                                    / trang
                                    <span class="__total-record"> - Có {{total}} mục trong danh sách</span>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-order-admin-edit></app-order-admin-edit>
<app-order-history></app-order-history>