body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  height: 16px;
  width: 16px;
}

#pagePrint{display: none !important;}
.disable{
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}
tr.ui-selectable-row.ng-star-inserted.ui-state-highlight .order {
  color: #FFF !important;
}
.p2x{padding:2px 4px !important;}
.mt5{margin-top: 5px;}
.ml2{margin-left: 2px;}