.pdr0 {
    padding-right: 0px !important;
}

p-calendar .ui-inputtext {
    width: unset !important;
}

.sdthover:hover {
    background-color: bisque !important;
    cursor: url(../../../../../assets/images/ringer-volume.png), auto;
}

.userAction {
    font-weight: bold;
    color: #0082ec;
}

blockquote {
    font-style: italic;
    margin: 5px;
}