<p-dialog #dialog [header]="'Cập nhật bài giảng trong khóa học'" styleClass="vs-modal force-full-width" positionTop="50" [(visible)]="isShow" [style]="{'max-width': '80%'}" [contentStyle]="{'max-height': getMaxDialogHeight()}" [modal]="true" appendTo="body">
  <div class="vs-form-container default-control-label-width vs-modal-content-panel app-foods-edit">

    <div class="vs-form-container default-control-label-width">
      <div class="ui-g row">
        <form action="" [formGroup]="formGroup">
          <p-fieldset legend="Cập nhật bài giảng trong khóa học">
            <div class="ui-g row">
              <div class="ui-g-12 ui-lg-12">
                <div class="vs-form-control ui-g">
                  <div class="__form-control-label ui-g-12 ui-md-4">Bài giảng</div>
                  <div class="ui-g-12 ui-md-12">
                    <div class="__input-wrapper required">
                      <!-- <p-multiSelect formControlName="tags" [options]="tag_options" [(ngModel)]="modelEdit.tags" appendTo="body" dropdownIcon="fa fa-filter" defaultLabel="Chọn tag">
                      </p-multiSelect> -->
                      <p-multiSelect formControlName="lesson" [options]="lesson_options" [(ngModel)]="lessonIds" defaultLabel="" appendTo="body">
                        <ng-template let-value pTemplate="selectedItems">
                          <div *ngFor="let val of value; index as i" class="vs-multi-select-tag" [hidden]="i > 8">
                            <span>{{getSelectedItemLabel(lesson_options, val)}}</span>
                          </div>
                          <div class="vs-multi-select-tag" *ngIf="lessonIds?.length > 8">
                            <span>...</span>
                          </div>
                          <div *ngIf="!value || value.length === 0" class="vs-multi-select-placeholder">-- Bài giảng --
                          </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                          <span>{{item.label}}</span>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-fieldset>
        </form>

      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-g row">
      <div class="ui-g-12">
        <button class="vs-btn vs-modal-btn vs-btn-action-edit" [disabled]="!formGroup.valid" (click)="save()" type="button">
          <span class="__icon fa fa-floppy-o"></span>
          <span class="__label">Lưu</span>
        </button>
        <button type="button" (click)="closePopupMethod(null)" class="vs-btn vs-modal-btn vs-btn-action-back">
          <span class="__icon fa fa-times"></span>
          <span class="__label">Đóng</span>
        </button>
      </div>
    </div>
  </p-footer>
</p-dialog>