<p-dialog #dialog [header]="'Sản phẩm: ' + modelEdit.name | translate" styleClass="vs-modal force-full-width" positionTop="50" [(visible)]="isShow" [style]="{'max-width': '900px'}" [contentStyle]="{'max-height': getMaxDialogHeight()}" [modal]="true" appendTo="body">
    <div class="vs-form-container default-control-label-width vs-modal-content-panel">
        <form action="" [formGroup]="formGroup">
            <div class="vs-form-container default-control-label-width">
                <div class="ui-g row">

                    <!-- <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-2">Danh mục</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-10">
                                <div class="__input-wrapper">
                                    <p-dropdown [baseZIndex]="15000" formControlName="idCategory" [(ngModel)]="modelEdit.idCategory" [showClear]="true" filter="true"
                                        placeholder="-- Chọn danh mục --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="dropdownCategories"
                                        [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-3">Danh mục</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-3">
                                <div class="__input-wrapper required" style="position: relative;">
                                    <p-dropdown [baseZIndex]="15000" formControlName="idCategory" [(ngModel)]="modelEdit.idCategory" [showClear]="true" filter="true" placeholder="-- Chọn danh mục gốc --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="cate_options" [style]="{'width':'100%', 'min-width':'0'}"
                                        appendTo="body" (onChange)="onLoadCategories1()"></p-dropdown>
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['idCategory'].hasError('required') && formGroup.controls['idCategory'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                </div>
                            </div>
                            <div class="__form-control-inputs ui-g-12 ui-md-3">
                                <div class="__input-wrapper" style="position: relative;">
                                    <p-dropdown [baseZIndex]="15000" formControlName="idCategoryOne" [(ngModel)]="modelEdit.idCategoryOne" [showClear]="true" filter="true" placeholder="-- Danh mục cấp 2 --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="cate1_options" [style]="{'width':'100%', 'min-width':'0'}"
                                        appendTo="body" (onChange)="onLoadCategories2()"></p-dropdown>
                                </div>
                            </div>
                            <div class="__form-control-inputs ui-g-12 ui-md-3">
                                <div class="__input-wrapper" style="position: relative;">
                                    <p-dropdown [baseZIndex]="15000" [(ngModel)]="modelEdit.idCategory2" formControlName="idCategory2" [showClear]="true" filter="true" placeholder="-- Danh mục cấp 3 --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="cate2_options" [style]="{'width':'100%', 'min-width':'0'}"
                                        appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-2">Ưu tiên</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-10">
                                <div class="__input-wrapper">
                                    <input type="text" formControlName="rate" [(ngModel)]="modelEdit.rate" placeholder="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-2">Top</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-10">
                                <div class="__input-wrapper">
                                    <input type="text" formControlName="rank" [(ngModel)]="modelEdit.rank" placeholder="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <p-footer>
        <div class="ui-g row">
            <div class="ui-g-2 align-left">
            </div>

            <div class="ui-g-10">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" [disabled]="!formGroup.valid" (click)="save()" type="button">
                    <span class="__icon fa fa-floppy-o"></span>
                    <span class="__label">Lưu</span>
                </button>

                <button type="button" (click)="closePopupMethod(null)" class="vs-btn vs-modal-btn vs-btn-action-back">
                    <span class="__icon fa fa-times"></span>
                    <span class="__label">Đóng</span>
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>