<div class="vs-page-content app-doi-soat-ctv-index">
    <div class="vs-page-content-header-area">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7 ui-lg-9 __page-title-wrapper">
                <h1 class="__page-title">Báo cáo đối soát CTV</h1>
            </div>

            <div class="ui-g-12 ui-md-5 ui-lg-3 __search-box-wrapper">
                <div class="__search-box">
                    <input type="search" placeholder="Nhập thông tin tìm kiếm" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.key">
                    <span class="__toggle-search-adv" (click)="toggleSearch()">
                        <span [hidden]="openSearchAdv" class="fa fa-angle-double-down"></span>
                        <span [hidden]="!openSearchAdv" class="fa fa-angle-double-up "></span>
                    </span>
                    <span class="__search-btn" (click)="onSearch()">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="ui-g" [hidden]="!openSearchAdv">
            <div class="ui-g-12 __search-filter-wrapper">
                <p-calendar class="maxWidth" [(ngModel)]="searchModel.fromDate" dateFormat="dd/mm/yy" class="maxWidth" psDateOnly [showIcon]="true" placeholder="Từ ngày" utc="true" psDateOnly [locale]="vi"></p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.toDate" dateFormat="dd/mm/yy" class="maxWidth" psDateOnly [showIcon]="true" placeholder="Đến ngày" utc="true" psDateOnly [locale]="vi">
                </p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.fromUpdate" dateFormat="dd/mm/yy" [showIcon]="true" class="maxWidth" psDateOnly placeholder="Update đơn từ ngày" utc="true" psDateOnly [locale]="vi">
                </p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.toUpdate" dateFormat="dd/mm/yy" [showIcon]="true" class="maxWidth" psDateOnly placeholder="Update đơn đến ngày" utc="true" psDateOnly [locale]="vi">
                </p-calendar>

                <!-- <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true"
                    [style]="{'width':'100%'}" [(ngModel)]="searchModel.status" [options]="status_options"
                    (onChange)="onSearch()">
                </p-dropdown> -->

                <p-autoComplete [(ngModel)]="products" [suggestions]="results" (completeMethod)="autoComplete($event)" field="name" [size]="30" placeholder="Nhập tên hoặc mã sản phẩm" [minLength]="1" [multiple]="true">
                </p-autoComplete>

                <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.idGroup" [options]="group_options" (onChange)="onSearch()">
                </p-dropdown>

                <button class="vs-btn vs-modal-btn vs-btn-action-edit" type="button" (click)="onSearch()">
                    <span class="__icon fa fa-search"></span>
                    <span class="__label">Tìm kiếm</span>
                </button>
            </div>
        </div>
    </div>

    <div class="vs-page-content-body-area">
        <div class="vs-data-table-area">
            <div class="ui-g vs-data-table-area-inner">
                <div class="ui-g-12 ui-lg-12 __main-table-area">
                    <div class="ui-g __top-table-action">
                        <div class="ui-g-6 __left-content">
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="exportExcel()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Xuất danh sách</span>
                            </button>
                        </div>

                        <div class="ui-g-6 __right-content">
                            <ul class="__action-tabs">
                                <li #columnListContainer class="__tab-item-wrapper __toggle-column-wrapper">
                                    <div class="__tab-item" (click)="toggleColumnList()">
                                        <span class="__icon pi pi-th-large"></span>
                                        <span class="__label">Chọn cột</span>
                                    </div>
                                    <div class="__column-list" [hidden]="!openColumnList">
                                        <div *ngFor="let col of cols" class="__column-item">
                                            <p-checkbox binary="true" [(ngModel)]="col.visible" name="groupname" label="{{col.header}}"></p-checkbox>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="ui-g vs-table-wrapper" id="table">
                        <p-table #mainTable [frozenValue]="dataTotal" [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="true" scrollHeight="auto" [value]="dataSource" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table" [customSort]="true" (onSort)="onSort($event)" [paginator]="true" [loading]="isLoading" [lazy]="true" (onPage)="onPage($event)" [resizableColumns]="true" dataKey="id">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col [style.width]="'40px'">
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <ng-container *ngSwitchDefault>
                                            <col [hidden]="!col.visible" [style.width]="col.width" pResizableColumn [pSortableColumn]="col.sort ? col.field : ''">
                                        </ng-container>
                                    </ng-container>
                                    <col [style.width]="'90px'">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="frozenrows" let-rowData let-columns="columns">
                                <tr style="background-color:lightskyblue">
                                    <th></th>
                                    <td class="ui-text-right" *ngFor="let col of columns">
                                        <b>{{rowData[col.field] | mask :'separator':'.'}}</b>
                                    </td>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="align-center">STT</th>
                                    <ng-container *ngFor="let col of columns;">
                                        <th class="ui-resizable-column" [hidden]="!col.visible" pResizableColumn [pSortableColumn]="col.sort ? col.field : ''" class="ui-resizable-column">
                                            {{col.header}}
                                            <span *ngIf="col.sort">
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </span>
                                        </th>
                                    </ng-container>
                                    <th class="ui-text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                <tr align="center">
                                    <td>{{rowIndex + 1}}</td>
                                    <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                        <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">
                                            <ng-container *ngSwitchCase="'createdDate'">
                                                <span>{{item.createdDate | date :'HH:mm dd/MM/yyyy':'UTC'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'name'">
                                                <div class="image_name_user">
                                                    <img src="{{getAvatar(item.avatar)}}" alt="">
                                                    <p class="name-emp">{{item.name}}</p>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'userName'">
                                                {{item.userName}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'soSpDangKy'">
                                                {{item.soSpDangKy === 0 ? '': item.soSpDangKy | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'tongSoDon'">
                                                {{item.tongSoDon === 0 ? '': item.tongSoDon | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'donThanhCong'">
                                                {{item.donThanhCong === 0 ? '': item.donThanhCong | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'totalBillLink'">
                                                {{item.totalBillLink === 0 ? '': item.totalBillLink | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'totalBillManual'">
                                                {{item.totalBillManual === 0 ? '': item.totalBillManual | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'totalBill'">
                                                {{item.totalBill === 0 ? '': item.totalBill | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'totalReward'">
                                                {{item.totalReward === 0 ? '': item.totalReward | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'phiDichVu'">
                                                {{item.phiDichVu === 0 ? '': item.phiDichVu | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'diemNap'">
                                                {{item.diemNap === 0 ? '': item.diemNap | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'diemRut'">
                                                {{item.diemRut === 0 ? '': item.diemRut | mask :'separator':'.'}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'balance'">
                                                {{item.balance === 0 ? '': item.balance | mask :'separator':'.'}}
                                            </ng-container>
                                            <span class="ui-resizable-column" *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                        </td>
                                    </ng-container>
                                    <td class="vs-hidden-print">
                                        <!-- <div class="vs-table-row-actions ui-text-right">
                                            <div class="vs-table-row-actions ui-text-center">
                                                <button type="button" class="vs-btn icon-only vs-btn-action-edit" (click)="onViewTransaction(item)" pTooltip="Chi tiết giao dịch">
                                                    <span class="__icon fa fa-dollar"></span>
                                                </button>

                                                <button type="button" class="vs-btn icon-only vs-btn-action-edit" (click)="onViewOrder(item)" pTooltip="Lịch sử đơn hàng">
                                                    <span class="__icon fa fa-history"></span>
                                                </button>

                                            </div>
                                        </div> -->
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorleft" let-state>
                                <div class="vs-table-paginator">Hiển thị
                                    <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" (onChange)="onChangeRowLimit()" [options]="listItemNumberPerPage" [(ngModel)]="limit">
                                    </p-dropdown>
                                    / trang
                                    <span class="__total-record"> - Có {{total}} mục trong danh sách</span>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>