.p_dashboard {
    background-color: #fff;
    .pd_ct {
        padding: 30px 10px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .ct_item {
            padding: 15px 15px;
            background-color: #edf2fc;
            border-radius: 10px;
            width: 300px;
            .info {
                display: flex;
                gap: 10px;
                align-items: center;
                i {
                    font-size: 22px;
                    color: #ffb000;
                }
                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: #565656;
                }
            }
            hr{
                border: 1px solid #0047853d;
                margin: 10px 0;
            }         
            .statistical {
                display: flex;
                gap: 10px;
                align-items: center;
                flex-direction: row;
                span {
                    font-size: 12px;
                    color: #565656;
                    font-weight: bold;
                    i {
                        font-size: 12px;
                        color: #42baff;
                    }
                }
            }
            
            &.ct_add{
                justify-content: center;
                background-color: #e7e8e9;
                display: flex;
                align-items: center;
                svg{
                    color: #c5c5c5;
                }
            }
        }
    }
}

.p_filter{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    gap: 5px;
    .created {
        display: flex;
        gap: 7px;
        align-items: center;
        font-size: 13px;
        color: #000;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #0084ff;
        border: 1px solid #0084ff;
        color: #fff;
        i {
            font-size: 20px;
        }
    }
    .search_name {
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        position: relative;
        padding: 0 8px;
        width: 105px;
        border: 1px solid #fff;
        &:hover {
            background-color: #ececec;
            input{
                background-color: #ececec;
            }
        }
        i {
            font-size: 17px;
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
        }
        input {
            border: none;
            font-size: 13px;
            padding-right: 0;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            padding-left: 22px;
            width: 100%;
        }
        &.active {
            border: 1px solid #0084ff;
            width: 200px;
            &:hover {
                background-color: unset;
                input{
                    background-color: unset;
                }
            }
            input {
                cursor: aut;
                &:hover {
                    background-color: unset;
                }
            }
        }
        
    }
}

.filter_task {
    position: relative;    
    .btn {
        position: relative;
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 13px;
        color: #000;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        &:hover {
            background-color: #ececec;
        }
        &_active{
            background-color: #ececec;
        }
    }
  .overlay {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    width: auto;
    height: auto;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: -1;
    border-radius: 5px;
    top: 40px;
    left: 0px;
        
    &.active{
        opacity: 1;
        width: auto;
        height: auto;
        z-index: 1000;
    }
    .search {
        display: flex;
        gap: 10px;
    }
  }
}