<div class="app-group-dang-ky">
    <div class="vs-page-content-header-area">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7 ui-lg-9 __page-title-wrapper">
                <h1 class="__page-title">Đăng ký nhóm</h1>
            </div>

            <div class="ui-g-12 ui-md-5 ui-lg-3 __search-box-wrapper">
                <div class="__search-box">
                    <input type="search" placeholder="Nhập từ khóa" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.key">

                    <span class="__toggle-search-adv" (click)="toggleSearch()">
                        <span [hidden]="openSearchAdv" class="fa fa-angle-double-down"></span>
                    <span [hidden]="!openSearchAdv" class="fa fa-angle-double-up "></span>
                    </span>

                    <span class="__search-btn" (click)="onSearch()">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="ui-g" [hidden]="!openSearchAdv">
            <div class="ui-g-12 __search-filter-wrapper">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" type="button" (click)="onSearch()">
                    <span class="__icon fa fa-search"></span>
                    <span class="__label">Tìm kiếm</span>
                </button>
            </div>
        </div>
    </div>

    <div class="vs-page-content-body-area">
        <div class="vs-data-table-area">
            <div class="ui-g vs-data-table-area-inner">
                <div class="ui-g-12 ui-lg-12 __main-table-area">
                    <div class="ui-g __top-table-action">
                        <div class="ui-g-10 __left-content">
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="exportExcel()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Xuất danh sách</span>
                            </button>

                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-print" [hidden]="!isMultiEdit">
                                <span class="__icon fa fa-print"></span>
                                <span class="__label">In danh sách</span>
                            </button>
                        </div>
                    </div>
                    <div class="ui-g vs-table-wrapper" id="table">
                        <p-table #mainTable [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="true" scrollHeight="auto" [value]="dataSource" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table" [customSort]="false" [paginator]="true"
                            [loading]="isLoading" [lazy]="true" (onPage)="onPage($event)" [resizableColumns]="true" dataKey="id">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col [style.width]="'40px'">
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <ng-container *ngSwitchDefault>
                                            <col [hidden]="!col.visible" [style.width]="col.width" pResizableColumn>
                                        </ng-container>
                                    </ng-container>
                                    <col [style.width]="'160px'">
                                </colgroup>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="align-center">STT</th>
                                    <ng-container *ngFor="let col of columns;">
                                        <th class="ui-resizable-column" [hidden]="!col.visible" pResizableColumn class="ui-resizable-column"> {{col.header}}</th>
                                    </ng-container>
                                    <th class="ui-text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                <tr align="center">
                                    <td class="vs-hidden-print">
                                        <label class="vs-custom-checkbox">
                                            <input class="__checkbox" type="checkbox" [(ngModel)]="item.checked"
                                                [disabled]="true">
                                            <span class="__mark"></span>
                                        </label>
                                    </td>

                                    <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                        <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">

                                            <ng-container *ngSwitchCase="'status'">
                                                <span *ngIf="item.status === 0" class="vs-status vs-status-waiting">
                                                    Chờ duyệt
                                                </span>
                                                <span *ngIf="item.status === 1" class="vs-status vs-status-valid">
                                                    Đã duyệt
                                                </span>
                                                <span *ngIf="item.status === 2" class="vs-status vs-status-cancel">
                                                    Hủy
                                                </span>
                                                <span *ngIf="item.status === 3" class="vs-status vs-status-expire">
                                                    Từ chối
                                                </span>
                                                <span *ngIf="item.status === 4" class="vs-status vs-status-waiting">
                                                    Mời vào nhóm
                                                </span>
                                                <span *ngIf="item.status === 5" class="vs-status vs-status-cancel">
                                                    Từ chối vào nhóm
                                                </span>
                                            </ng-container>
                                            <span class="ui-resizable-column" *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                        </td>
                                    </ng-container>

                                    <td class="vs-hidden-print">
                                        <div class="vs-table-row-actions ui-text-center">
                                            <button type="button" *ngIf="!item.isReg && item.status === 4" class="vs-btn vs-btn-icon-green" (click)="onAccept(item)" pTooltip="Đồng ý">
                                                <span class="__icon fa fa-check"></span>
                                                <span class="__label">Chấp nhận lời mời</span>
                                            </button>
                                            <button type="button" class="vs-btn vs-btn-icon-red" *ngIf="!item.isReg && item.status === 4" (click)="onDecline(item)" pTooltip="Từ chối lời mời">
                                                <span class="__icon fa fa-times"></span>
                                                <span class="__label">Từ chối lời mời</span>
                                            </button>
                                            <button type="button" *ngIf="!item.isReg && item.status !== 4" class="vs-btn vs-btn-icon-green" (click)="onRegister(item)" pTooltip="Đăng ký">
                                                <span class="__icon fa fa-sign-in"></span>
                                                <span class="__label">Đăng ký</span>
                                            </button>

                                            <button type="button" class="vs-btn vs-btn-icon-red" *ngIf="item.status === 0" (click)="onCancel(item)" pTooltip="hủy">
                                                <span class="__icon fa fa-sign-out"></span>
                                                <span class="__label">Hủy</span>
                                            </button>

                                            <button type="button" class="vs-btn vs-btn-icon-red" *ngIf="item.isReg && item.status === 1" (click)="onCancel(item)" pTooltip="Rời nhóm">
                                                <span class="__icon fa fa-sign-out"></span>
                                                <span class="__label">Rời nhóm</span>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="paginatorleft" let-state>
                                <div class="vs-table-paginator">
                                    Hiển thị

                                    <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" (onChange)="onChangeRowLimit()" [options]="listItemNumberPerPage" [(ngModel)]="limit">
                                    </p-dropdown>
                                    / trang
                                    <span class="__total-record"> - Có {{total}} mục trong danh sách</span>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>