.text_blue{    
    color:#1ca7ff ;
    font-weight: bold;
}
.text_black{
    color:#000 ;
    font-weight: bold;
}
.text_green{
    color:#14b545 ;
    font-weight: bold;
}
.icon_dropdown_table{
    font-size: 20px;
    padding: 0 20px;
}