// .ui-tree .ui-treenode .ui-treenode-content{
//     :hover{
//         background-color: aqua;
//     }
// }
.ui-tree .ui-tree-container{
    height: 450px;
}
.d-none{
    display: none;
}

.btn_hide_show_html {
    border: none;
    padding: 10px 20px;
    background-color: #0095da;
    color: #fff;
    cursor: pointer;
}
.p-0{
    padding: 0;
}

.resize_image img{
    width: 40px !important;
}