<p-dialog #dialog [header]="header" styleClass="vs-modal force-full-width" [(visible)]="isShow" positionTop="50" [style]="{'max-width': '1100px'}" [baseZIndex]="15000" [modal]="true" appendTo="body">
    <div class="vs-form-container default-control-label-width vs-modal-content-panel">
        <div class="box-notify">
            <div class="row" *ngIf="isLoading">
                <div class="col-md-12">
                    <i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu xin đợi...
                </div>
            </div>
            <div class="row" *ngIf="item && !isLoading">
                <div class="col-12">
                    <dual-list key="roleId" display="roleName" height="300px" [source]="unassignedRoles" [(destination)]="assignedRoles" [format]="{ add: 'Gán', remove: 'Bỏ gán', all: 'Chọn tất cả', none: 'Bỏ chọn tất cả'}">
                    </dual-list>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <div class="ui-g row">
            <div class="ui-g-12">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" (click)="save()" type="button">
                    <span class="__icon fa fa-floppy-o"></span>
                    <span class="__label">Lưu</span>
                </button>

                <button type="button" (click)="closePopupMethod(null)" class="vs-btn vs-modal-btn vs-btn-action-back">
                    <span class="__icon fa fa-times"></span>
                    <span class="__label">Đóng</span>
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>