<!--  -->
<div class="app-product-index">
    <div class="vs-page-content-header-area">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7 ui-lg-9 __page-title-wrapper">
                <h1 class="__page-title">Nhóm của tôi</h1>
            </div>
        </div>
    </div>

    <div class="vs-page-content-body-area">
        <div class="vs-data-table-area">
            <div class="ui-g vs-data-table-area-inner">
                <div class="ui-g-12 ui-lg-12 __main-table-area">

                    <div class="vs-form-container default-control-label-width vs-modal-content-panel" style="background-color: #FFF; padding: 10px 0;">
                        <div class="vs-form-container default-control-label-width">
                            <div class="ui-g row">
                                <!-- <div class="ui-g-3">
                                            <div style="width: 150px;">
                                                <vs-thumbnail [(ngModel)]="modelEdit.avatar" formControlName="avatar">
                                                </vs-thumbnail>
                                            </div>
                                        </div> -->
                                <div class="ui-g-12">
                                    <div class="ui-g-6 ui-lg-12">
                                        <div class="vs-form-control ui-g">
                                            <div class="__form-control-label ui-g-12 ui-md-4">Tên nhóm</div>
                                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                                <div class="__input-wrapper required">
                                                    {{modelEdit.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-lg-12">
                                        <div class="vs-form-control ui-g">
                                            <div class="__form-control-label ui-g-12 ui-md-4">Mô tả</div>
                                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                                <div class="__input-wrapper required" style="position: relative;">
                                                    {{modelEdit.description}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-lg-12">
                                        <div class="vs-form-control ui-g">
                                            <div class="__form-control-label ui-g-12 ui-md-4">Trưởng nhóm</div>
                                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                                <div class="__input-wrapper required" style="position: relative;">
                                                    {{modelEdit.leaderName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-lg-12">
                                        <div class="vs-form-control ui-g">
                                            <div class="__form-control-label ui-g-12 ui-md-4">Link zalo</div>
                                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                                <div class="__input-wrapper required" style="position: relative;">
                                                    <a href="{{modelEdit.link}}">{{modelEdit.link}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>