<div class="vs-page-content app-statements-histories-admin">
    <div class="vs-page-content-header-area">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-7 ui-lg-9 __page-title-wrapper">
                <h1 class="__page-title">Lịch sử giao dịch</h1>
            </div>

            <div class="ui-g-12 ui-md-5 ui-lg-3 __search-box-wrapper">
                <div class="__search-box">
                    <input type="search" placeholder="Nhập từ khóa tìm kiếm" name="search" class="__input vs-input" (keyup.enter)="onSearch()" [(ngModel)]="searchModel.key">

                    <span class="__toggle-search-adv" (click)="toggleSearch()">
                        <span [hidden]="openSearchAdv" class="fa fa-angle-double-down"></span>
                    <span [hidden]="!openSearchAdv" class="fa fa-angle-double-up "></span>
                    </span>

                    <span class="__search-btn" (click)="onSearch()">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="ui-g" [hidden]="!openSearchAdv">
            <div class="ui-g-12 __search-filter-wrapper">
                <p-calendar class="maxWidth" [(ngModel)]="searchModel.fromDate" dateFormat="dd/mm/yy" class="maxWidth" psDateOnly [showIcon]="true" placeholder="Từ ngày" utc="true" psDateOnly [locale]="vi"></p-calendar>

                <p-calendar class="maxWidth" [(ngModel)]="searchModel.toDate" dateFormat="dd/mm/yy" class="maxWidth" psDateOnly [showIcon]="true" placeholder="Đến ngày" utc="true" psDateOnly [locale]="vi">
                </p-calendar>
                <p-autoComplete [(ngModel)]="user" [suggestions]="users" (completeMethod)="autoComplete($event)" [size]="30" placeholder="Nhập tên người dùng" field="name" [minLength]="1">
                </p-autoComplete>

                <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" (onChange)="onSearch()" [style]="{'width':'100%'}" [(ngModel)]="searchModel.status" [options]="trangThai_options">
                </p-dropdown>
                <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" filter="true" [style]="{'width':'100%'}" [(ngModel)]="searchModel.dealtype" [options]="dealType_options" (onChange)="onSearch()">
                </p-dropdown>

                <button class="vs-btn vs-modal-btn vs-btn-action-edit" type="button" (click)="onSearch()">
                    <span class="__icon fa fa-search"></span>
                    <span class="__label">Tìm kiếm</span>
                </button>
            </div>
        </div>
    </div>

    <div class="vs-page-content-body-area">
        <div class="vs-data-table-area">
            <div class="ui-g vs-data-table-area-inner">
                <div class="ui-g-12 ui-lg-12 __main-table-area">

                    <div class="ui-g __top-table-action">
                        <div class="ui-g-10 __left-content">
                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data" (click)="exportExcel()">
                                <span class="__icon fa fa-download"></span>
                                <span class="__label">Xuất danh sách</span>
                            </button>

                            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-print" [hidden]="!isMultiEdit">
                                <span class="__icon fa fa-print"></span>
                                <span class="__label">In danh sách</span>
                            </button>
                        </div>

                        <div class="ui-g-2 __right-content">
                            <ul class="__action-tabs">
                                <li #columnListContainer class="__tab-item-wrapper __toggle-column-wrapper">
                                    <div class="__tab-item" (click)="toggleColumnList()">
                                        <span class="__icon pi pi-th-large"></span>
                                        <span class="__label">Chọn cột</span>
                                    </div>
                                    <div class="__column-list" [hidden]="!openColumnList">
                                        <div *ngFor="let col of cols" class="__column-item">
                                            <p-checkbox binary="true" [(ngModel)]="col.visible" name="groupname" label="{{col.header}}"></p-checkbox>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="ui-g vs-table-wrapper" id="table">
                        <p-table #mainTable [frozenValue]="dataTotal" [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="true" scrollHeight="auto" [value]="dataSource" [(selection)]="selectedItems" [totalRecords]="total" class="vs-table responsive-table"
                            [customSort]="true" (onSort)="onSort($event)" [paginator]="true" [loading]="isLoading" [lazy]="true" (onPage)="onPage($event)" [resizableColumns]="true" dataKey="id">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col [style.width]="'40px'">
                                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <ng-container *ngSwitchDefault>
                                            <col [hidden]="!col.visible" [style.width]="col.width">
                                        </ng-container>
                                    </ng-container>
                                </colgroup>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="align-center">STT</th>
                                    <ng-container *ngFor="let col of columns;">
                                        <th class="ui-resizable-column" [hidden]="!col.visible" [pSortableColumn]="col.field"> {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                        </th>
                                    </ng-container>
                                    <!-- <th class="ui-text-center" style="width: 90px;">
                                        Thao tác
                                    </th> -->
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                <tr align="center" [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex">
                                    <td>{{rowIndex + 1}}</td>

                                    <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                        <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">
                                            <ng-container *ngSwitchCase="'createdDate'">
                                                <span>{{item.createdDate | date :'HH:mm dd/MM/yyyy':'UTC'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'deal'">
                                                <span *ngIf="item.deal > 0">+{{item.deal | mask :'separator':'.'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'type'">
                                                <span *ngIf="item.type === 1">Đơn hàng</span>
                                                <span *ngIf="item.type === 2">Nạp/Rút</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'objectId'">
                                                <a *ngIf="item.type === 1 || item.type === 3" (click)="onShowOrder(item.objectId)">{{item.objectId}}</a>
                                                <a *ngIf="item.type === 2" (click)="onShowPoint(item.objectId)">{{item.objectId}}</a>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'negativeDeal'">
                                                <span *ngIf="item.deal < 0">
                                                    {{item.deal | mask :'separator':'.'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'balanceBefore'">
                                                <span>{{item.balanceBefore | mask :'separator':'.'}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'balance'">
                                                <span>{{item.balance | mask :'separator':'.'}}</span>
                                            </ng-container>
                                            <span *ngSwitchDefault class="break-word">{{item[col.field]}}</span>

                                        </td>
                                    </ng-container>
                                    <!-- <td style="width: 90px;">
                                        <button type="button" class="vs-btn icon-only vs-btn-action-edit"
                                            *ngIf="item.objectId>0" (click)="onEdit(item.objectId)"
                                            pTooltip="Chi tiết đơn hàng">
                                            <span class="__icon fa fa-eye"></span>
                                        </button>
                                    </td> -->
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="paginatorleft" let-state>
                                <div class="vs-table-paginator">
                                    Hiển thị

                                    <p-dropdown appendTo="body" [emptyFilterMessage]="'Không tìm thấy kết quả'" (onChange)="onChangeRowLimit()" [options]="listItemNumberPerPage" [(ngModel)]="limit">
                                    </p-dropdown>
                                    / trang
                                    <span class="__total-record"> - Có {{total}} mục trong danh sách</span>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-buget-thiet-lap (closePopup)="onCloseForm()"></app-buget-thiet-lap> -->
<app-order-admin-edit></app-order-admin-edit>
<app-order-client-edit></app-order-client-edit>