.app-feedback-edit {
    p-calendar .ui-inputtext {
        width: unset!important;
    }
}

.d-none{
    display: none;
}

.btn_hide_show_html {
    border: none;
    padding: 10px 20px;
    background-color: #0095da;
    color: #fff;
    cursor: pointer;
}