.hr-tile{
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 2px solid #ff882e;
    margin: 15px;
    font-size: 14px;
}
.box-list-logictis-right{
    text-align: right;

    .ui-listbox{
        width: 100%;
        border: none;
    }    

}