.ui-autocomplete-input-token{width: 100%;}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container{display: inherit;}
.ui-autocomplete-multiple-container .ui-autocomplete-token {
    background-color: transparent !important;
    color: #505050  !important;
    display: inline-table  !important;
}
.ui-listbox-list{display: flex;}