body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    height: 16px;
    width: 16px;
  }

#pagePrint{display: none !important;}
tr.ui-selectable-row.ng-star-inserted.ui-state-highlight .order {
  color: #FFF !important;
}