<p-dialog #dialog [header]="'Thêm/sửa chương trình khuyến mãi'" styleClass="vs-modal force-full-width" positionTop="50" [(visible)]="isShow" [style]="{'max-width': '1100px'}" [contentStyle]="{'max-height': getMaxDialogHeight()}" [modal]="true" appendTo="body">
    <div class="vs-form-container default-control-label-width vs-modal-content-panel app-promotion-edit">

        <div class="vs-form-container default-control-label-width">
            <div class="ui-g row">
                <form action="" [formGroup]="formGroup">
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Mã</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <input type="text" [(ngModel)]="modelEdit.code" formControlName="code" placeholder="Mã" />
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['code'].hasError('required') && formGroup.controls['code'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Tên</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <input type="text" [(ngModel)]="modelEdit.name" formControlName="name" placeholder="Tên" />
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['name'].hasError('required') && formGroup.controls['name'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Ảnh đại diện</div>
                            <div class="__input-wrapper">
                                <vs-single-fsfile-upload [chooseLabel]="'Chọn ảnh'" formControlName="image" [(ngModel)]="modelEdit.image"></vs-single-fsfile-upload>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Trạng thái sử dụng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-inputSwitch [(ngModel)]="modelEdit.isActive" formControlName="isActive" pTooltip="Sử dụng">
                                    </p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-g row">
            <div class="ui-g-12">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" [disabled]="!formGroup.valid" (click)="save()" type="button">
                    <span class="__icon fa fa-floppy-o"></span>
                    <span class="__label">Lưu</span>
                </button>
                <button type="button" (click)="closePopupMethod(null)" class="vs-btn vs-modal-btn vs-btn-action-back">
                    <span class="__icon fa fa-times"></span>
                    <span class="__label">Đóng</span>
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>