.captcha{
    background-repeat: no-repeat;
    height: 35px;
    border: none;
    width: 90px!important;
}
.text-right{
    text-align: right;
}
.form-control-feedback{
    // right: 16px;
    // top: 8px;
     position: unset;
}