<div style="background: #fff; margin: 15px; padding: 15px">
    <h3>Bộ button các thao tác trên cột Thao tác của danh sách bao gồm:</h3>
    <div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-action-edit">
                <span class="__icon fa fa-pencil-square-o"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-edit">
                <span class="__icon fa fa-floppy-o"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-edit">
                <span class="__icon fa fa-caret-up"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-edit">
                <span class="__icon fa fa-files-o"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-green">
                <span class="__icon fa fa-check"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-action-restore">
                <span class="__icon fa fa-check"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-restore">
                <span class="__icon fa fa fa-times"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-restore">
                <span class="__icon fa fa-undo"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-red">
                <span class="__icon fa fa-trash"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-red">
                <span class="__icon fa fa-times"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-action-lock">
                <span class="__icon fa fa-lock"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-unlock">
                <span class="__icon fa fa-unlock"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-violet">
                <span class="__icon fa fa-bell"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-violet">
                <span class="__icon fa fa-comments"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-action-config">
                <span class="__icon fa fa-cogs"></span>
            </button>
        </div>
        <div class="vs-table-row-actions">
            <button type="button" class="vs-btn icon-only vs-btn-action-view">
                <span class="__icon fa fa-eye"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-view">
                <span class="__icon fa fa-list-ol"></span>
            </button>
            <button type="button" class="vs-btn icon-only vs-btn-action-view">
                <span class="__icon fa fa-calendar"></span>
            </button>
        </div>
    </div>

    <h3>Bộ button các thao tác chung trên đầu 1 danh sách bao gồm:</h3>
    <div>
        <div class="">
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-edit">
                <span class="__icon fa fa-plus"></span>
                <span class="__label">Thêm mới</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-btn-icon-green">
                <span class="__icon fa fa-check"></span>
                <span class="__label">Duyệt đăng ký</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-restore">
                <span class="__icon fa fa-check"></span>
                <span class="__label">Khôi phục duyệt</span>
            </button>
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-restore">
                <span class="__icon fa fa fa-times"></span>
                <span class="__label">Khôi phục xóa</span>
            </button>
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-restore">
                <span class="__icon fa fa-undo"></span>
                <span class="__label">Khôi phục</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-btn-icon-red">
                <span class="__icon fa fa-trash"></span>
                <span class="__label">Xóa dữ liệu</span>
            </button>
            <button type="button" class="vs-btn vs-btn-icon-red">
                <span class="__icon fa fa-times"></span>
                <span class="__label">Hủy dữ liệu</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-lock">
                <span class="__icon fa fa-lock"></span>
                <span class="__label">Khóa dữ liệu</span>
            </button>
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-unlock">
                <span class="__icon fa fa-unlock"></span>
                <span class="__label">Mở khóa dữ liệu</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-violet">
                <span class="__icon fa fa-bell"></span>
                <span class="__label">Gủi thông báo</span>
            </button>
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-violet">
                <span class="__icon fa fa-comments"></span>
                <span class="__label">Gủi phản hồi</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data">
                <span class="__icon fa fa-download"></span>
                <span class="__label">Xuất dữ liệu</span>
            </button>
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-data trigger-dropdown">
                <span class="__icon fa fa-download"></span>
                <span class="__label">Xuất dữ liệu</span>
                <span class="__dropdown-hint fa fa-caret-down"></span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-top-table-btn vs-btn-action-print">
                <span class="__icon fa fa-print"></span>
                <span class="__label">In báo cáo</span>
            </button>
        </div>
    </div>

    <h3>Bộ button các thao tác trên popup và nút nổi bật của danh sách bao gồm:</h3>
    <div>
        <div class="">
            <button class="vs-btn vs-modal-btn vs-btn-action-edit" type="button">
                <span class="__icon fa fa-floppy-o"></span>
                <span class="__label">Lưu dữ liệu</span>
            </button>
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-edit">
                <span class="__icon fa fa-plus"></span>
                <span class="__label">Thêm mới</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-modal-btn vs-btn-green">
                <span class="__icon fa fa-check"></span>
                <span class="__label">Duyệt đăng ký</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-restore">
                <span class="__icon fa fa-check"></span>
                <span class="__label">Khôi phục duyệt</span>
            </button>
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-restore">
                <span class="__icon fa fa fa-times"></span>
                <span class="__label">Khôi phục xóa</span>
            </button>
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-restore">
                <span class="__icon fa fa-undo"></span>
                <span class="__label">Khôi phục</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-back">
                <span class="__icon fa fa-times"></span>
                <span class="__label">Đóng</span>
            </button>
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-back">
                <span class="__icon fa fa-undo"></span>
                <span class="__label">Quay lại</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-lock">
                <span class="__icon fa fa-lock"></span>
                <span class="__label">Khóa dữ liệu</span>
            </button>
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-unlock">
                <span class="__icon fa fa-unlock"></span>
                <span class="__label">Mở khóa dữ liệu</span>
            </button>
        </div>
        <div class="">
            <button type="button" class="vs-btn vs-modal-btn vs-btn-action-danger">
                <span class="__icon fa fa-lock"></span>
                <span class="__label">Khóa dữ liệu</span>
            </button>
        </div>
    </div>
</div>