<p-dialog #dialog [header]="'Thêm/sửa chương trình khuyến mãi'" styleClass="vs-modal force-full-width" positionTop="50" [(visible)]="isShow" [style]="{'max-width': '1100px'}" [contentStyle]="{'max-height': getMaxDialogHeight()}" [modal]="true" appendTo="body">
    <div class="vs-form-container default-control-label-width vs-modal-content-panel app-promotion-edit">

        <div class="vs-form-container default-control-label-width">
            <div class="ui-g row">
                <form action="" [formGroup]="formGroup">

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-3">
                                Hình thức khuyến mãi</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-3">
                                <div class="__input-wrapper required" style="position: relative;">
                                    <p-dropdown [baseZIndex]="15000" formControlName="type" [(ngModel)]="modelEdit.type" [showClear]="true" filter="true" placeholder="-- Hình thức khuyến mãi --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="type_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['type'].hasError('required') && formGroup.controls['type'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="modelEdit.type === 1 || modelEdit.type === 5 || modelEdit.type === 6 || modelEdit.type === 7" class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Giá trị từ</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <input type="text" formControlName="fromValue" mask="separator" suffix=" đ" placeholder="Giá trị từ" thousandSeparator="." [(ngModel)]="modelEdit.fromValue" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6" *ngIf="modelEdit.type === 7">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Từ ngày tích lũy</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-calendar formControlName="startDateReward" [baseZIndex]="15000" [showIcon]="true" placeholder="Từ ngày tích lũy" appendTo="body" [(ngModel)]="modelEdit.startDateReward">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-6" *ngIf="modelEdit.type === 7">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Đến ngày tích lũy</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-calendar [(ngModel)]="modelEdit.endDateReward" formControlName="endDateReward" [showIcon]="true" class="maxWidth" placeholder="Đến ngày tích lũy">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="modelEdit.type === 3" class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Cập nhật mã</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="codeUpdate" [(ngModel)]="modelEdit.codeUpdate" [showClear]="true" filter="true" placeholder="-- Tạo mã --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="codeUpdate_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="modelEdit.type === 6" class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">KOL</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="referralUserId" [(ngModel)]="modelEdit.referralUserId" [showClear]="true" filter="true" placeholder="-- Mã KOL --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="kol_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Ảnh mobile</div>
                            <div class="__input-wrapper">
                                <vs-single-fsfile-upload [chooseLabel]="'Chọn ảnh'" formControlName="image" [(ngModel)]="modelEdit.image"></vs-single-fsfile-upload>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Ảnh Website</div>
                            <div class="__input-wrapper">
                                <vs-single-fsfile-upload [chooseLabel]="'Chọn ảnh'" formControlName="imageWeb" [(ngModel)]="modelEdit.imageWeb"></vs-single-fsfile-upload>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Danh mục</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-4">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="idCategory" [(ngModel)]="modelEdit.idCategory" [showClear]="true" filter="true" placeholder="-- Danh mục sản phẩm --" (onChange)="loadCategories1()" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="category_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                            <div class="__form-control-inputs ui-g-12 ui-md-4">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="idCategory1" [(ngModel)]="modelEdit.idCategory1" [showClear]="true" filter="true" placeholder="-- Danh mục sản phẩm --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="category1_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Nhà cung cấp</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="idSupplier" [(ngModel)]="modelEdit.idSupplier" [showClear]="true" filter="true" placeholder="-- Nhà cung cấp --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="supplier_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Doanh nghiệp</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="idClient" [(ngModel)]="modelEdit.idClient" [showClear]="true" filter="true" placeholder="-- Doanh nghiệp --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="client_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Cấp bậc</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-dropdown formControlName="idLevel" [(ngModel)]="modelEdit.idLevel" [showClear]="true" filter="true" placeholder="-- Cấp bậc --" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="level_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="modelEdit.type === 1 || modelEdit.type === 2 || modelEdit.type === 3 || modelEdit.type === 7" class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Thêm sản phẩm</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <p-autoComplete [(ngModel)]="key" formControlName="key" field="name" [suggestions]="results" (completeMethod)="autoComplete($event)" [size]="30" placeholder="Nhập tên hoặc mã sản phẩm" [minLength]="1" (onSelect)="onSelect($event)">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="modelEdit.type === 1 || modelEdit.type === 2 || modelEdit.type === 3 || modelEdit.type === 7" class="ui-g-12 ui-lg-12" style="margin-bottom: 15px;">
                        <div class="ui-g vs-table-wrapper vs-table-wrapper-edit" id="table">
                            <p-table #mainTable [columns]="cols" selectionMode="multiple" [rows]="limit" [scrollable]="false" scrollHeight="auto" [value]="selectedProduct" class="vs-table responsive-table" [customSort]="false" [loading]="isLoading" [lazy]="false" [resizableColumns]="true" dataKey="id" [style]="{'min-height': '200px'}">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col [style.width]="'3%'">
                                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <ng-container *ngSwitchDefault>
                                                <col [hidden]="!col.visible" [style.width]="col.width">
                                            </ng-container>
                                        </ng-container>
                                    </colgroup>
                                </ng-template>

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="align-center" style="width: 3%;">STT</th>
                                        <ng-container *ngFor="let col of columns;">
                                            <th class="ui-resizable-column" [hidden]="!col.visible"> {{col.header}}</th>
                                        </ng-container>
                                        <th class="align-center" style="width: 10%;"></th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                    <tr align="center">
                                        <td style="width: 3%;">{{rowIndex + 1}}</td>

                                        <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                            <td class="ui-resizable-column" [hidden]="!col.visible" [class.align-left]="!col.align || col.align === 'left'" pEditableColumn [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">
                                                <ng-container *ngSwitchCase="'quantityMust'">
                                                    <p-cellEditor>
                                                        <ng-template pTemplate="input">
                                                            <input pInputText type="text" formControlName="quantityMust" [(ngModel)]="item.quantityMust">
                                                        </ng-template>
                                                        <ng-template pTemplate="output">
                                                            <span *ngIf="item.quantityMust > 0">{{item.quantityMust}}</span>
                                                        </ng-template>
                                                    </p-cellEditor>
                                                </ng-container>
                                                <span *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                            </td>
                                        </ng-container>
                                        <td style="width: 10%;">
                                            <button type="button" class="vs-btn vs-btn-red" (click)="onRemove(rowIndex)" pTooltip="Xoá">
                                                <span class="__icon fa fa-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="ui-g-6 ui-lg-6" style="margin-top:10px">
                            <div class="vs-form-control ui-g">
                                <div class="__form-control-label ui-g-12 ui-md-4">Số lượng sản phẩm</div>
                                <div class="__form-control-inputs ui-g-12 ui-md-8">
                                    <div class="__input-wrapper">
                                        <input type="text" [(ngModel)]="modelEdit.quantityProduct" formControlName="quantityProduct" placeholder="Số lượng sản phẩm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Tên</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <input type="text" [(ngModel)]="modelEdit.name" formControlName="name" placeholder="Tên" />
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['name'].hasError('required') && formGroup.controls['name'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Điều kiện chưa hưởng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">

                                    <p-multiSelect formControlName="promotionUserNotIns" [options]="promotions_options" [(ngModel)]="selectedpromotionNotIns" defaultLabel="" appendTo="body">
                                        <ng-template let-value pTemplate="selectedItems">
                                            <div *ngFor="let val of value; index as i" class="vs-multi-select-tag">
                                                <span>{{getSelectedItemLabel(promotions_options, val)}}</span>
                                            </div>
                                            <div *ngIf="!value || value.length === 0" class="vs-multi-select-placeholder">-- Chọn chương trình thưởng --</div>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <span>{{item.label}}</span>
                                        </ng-template>
                                    </p-multiSelect>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-3">
                                Thanh toán</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-3">
                                <div class="__input-wrapper" style="position: relative;">
                                    <p-dropdown [baseZIndex]="15000" formControlName="paymentMethod" [(ngModel)]="modelEdit.paymentMethod" [showClear]="true" filter="true" placeholder="Không cần điều kiện" [emptyFilterMessage]="'Không tìm thấy kết quả'" [options]="payment_options" [style]="{'width':'100%', 'min-width':'0'}" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Từ ngày</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-calendar formControlName="startDate" [baseZIndex]="15000" [showIcon]="true" placeholder="Từ ngày" appendTo="body" [(ngModel)]="modelEdit.startDate">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Đến ngày</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-calendar [(ngModel)]="modelEdit.endDate" formControlName="endDate" [showIcon]="true" class="maxWidth" placeholder="Đến ngày">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Số lần áp dụng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <input type="text" [(ngModel)]="modelEdit.quantity" formControlName="quantity" placeholder="Số lần áp dụng" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Loại thưởng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-radioButton name="mode" value="1" [(ngModel)]="modelEdit.mode" formControlName="mode" label="theo %"></p-radioButton>
                                    <p-radioButton name="mode" value="2" [(ngModel)]="modelEdit.mode" formControlName="mode" label="theo xu" [style]="{'margin-left':'50px'}">
                                    </p-radioButton>
                                    <p-radioButton name="mode" value="3" *ngIf="modelEdit.type !== 7" [(ngModel)]="modelEdit.mode" formControlName="mode" label="tặng" [style]="{'margin-left':'50px'}">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-lg-6">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Giá trị thưởng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper required">
                                    <input type="number" [(ngModel)]="modelEdit.sale" formControlName="sale" placeholder="Giá trị thưởng" />
                                    <div class="form-control-feedback" *ngIf="formGroup.controls['sale'].hasError('required') && formGroup.controls['sale'].touched">
                                        Trường thông tin này là bắt buộc!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-lg-6" *ngIf="modelEdit.mode == 1">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Tối đa</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <input type="text" [(ngModel)]="modelEdit.maxSale" mask="separator" suffix=" đ" thousandSeparator="." formControlName="maxSale" placeholder="Tối đa" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-lg-6" *ngIf="modelEdit.mode == 3">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Sản phẩm</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-autoComplete [(ngModel)]="keyGift" formControlName="keyGift" field="name" [suggestions]="resultsGift" (completeMethod)="autoCompleteGift($event)" [size]="30" placeholder="Nhập tên hoặc mã sản phẩm" [minLength]="1" (onSelect)="onSelectGift($event)">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="modelEdit.mode == 3" class="ui-g-12 ui-lg-12" style="margin-bottom: 15px;">
                        <div class="ui-g vs-table-wrapper vs-table-wrapper-edit" id="table">
                            <p-table #mainTableGift [columns]="colsGift" selectionMode="multiple" [rows]="limit" [scrollable]="false" scrollHeight="auto" [value]="selectedProductGift" [(selection)]="selectedItemsGift" [totalRecords]="total" class="vs-table responsive-table" [customSort]="false" [loading]="isLoading" [lazy]="false" [resizableColumns]="true" dataKey="id" [style]="{'min-height': '200px'}">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col [style.width]="'3%'">
                                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <ng-container *ngSwitchDefault>
                                                <col [hidden]="!col.visible" [style.width]="col.width">
                                            </ng-container>
                                        </ng-container>
                                    </colgroup>
                                </ng-template>

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="align-center" style="width: 3%;">STT</th>
                                        <ng-container *ngFor="let col of columns;">
                                            <th class="ui-resizable-column" [hidden]="!col.visible"> {{col.header}}</th>
                                        </ng-container>
                                        <th class="align-center" style="width: 10%;"></th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                                    <tr align="center">
                                        <td style="width: 3%;">{{rowIndex + 1}}</td>

                                        <ng-container *ngFor="let col of columns;let i = index;" [ngSwitch]="col.field">
                                            <td class="ui-resizable-column" [hidden]="!col.visible" pEditableColumn [class.align-left]="!col.align || col.align === 'left'" [class.align-center]="col.align === 'center'" [class.align-right]="col.align === 'right'">
                                                <ng-container *ngSwitchCase="'quantityGift'">
                                                    <p-cellEditor>
                                                        <ng-template pTemplate="input">
                                                            <input pInputText type="text" formControlName="quantityGift" [(ngModel)]="item.quantityGift">
                                                        </ng-template>
                                                        <ng-template pTemplate="output">
                                                            <span *ngIf="item.quantityGift > 0">{{item.quantityGift}}</span>
                                                        </ng-template>
                                                    </p-cellEditor>
                                                </ng-container>
                                                <span *ngSwitchDefault class="break-word">{{item[col.field]}}</span>
                                            </td>
                                        </ng-container>
                                        <td style="width: 10%;">
                                            <button type="button" class="vs-btn vs-btn-red" (click)="onRemoveGift(rowIndex)" pTooltip="Xoá">
                                                <span class="__icon fa fa-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12" *ngIf="modelEdit.type !== 7">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-5">
                                Lần hưởng/user</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-7">
                                <div class="__input-wrapper">
                                    <input type="text" [(ngModel)]="modelEdit.numberPerUser" formControlName="numberPerUser" placeholder="Số lần được hưởng/mỗi tài khoản" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12" *ngIf="modelEdit.type !== 7">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-5">
                                Số lần hưởng/sản phẩm</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-7">
                                <div class="__input-wrapper">
                                    <input type="text" [(ngModel)]="modelEdit.numberProductPerUser" formControlName="numberProductPerUser" placeholder="Số sản phẩm được hưởng/mỗi tài khoản" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Mô tả</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <textarea type="text" [(ngModel)]="modelEdit.description" rows="3" formControlName="description" placeholder="Mô tả"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Mô tả ngắn</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <textarea type="text" [(ngModel)]="modelEdit.shortDescription" rows="3" formControlName="shortDescription" placeholder="Mô tả ngắn"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Thứ tự</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <input type="text" [(ngModel)]="modelEdit.sort" formControlName="sort" placeholder="Thứ tự" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12" *ngIf="modelEdit.type !== 7">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Chỉ dành cho khách mới</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-inputSwitch [(ngModel)]="modelEdit.isFirstOrderUser" formControlName="isFirstOrderUser" pTooltip="Sử dụng">
                                    </p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12">
                        <div class="vs-form-control ui-g">
                            <div class="__form-control-label ui-g-12 ui-md-4">Trạng thái sử dụng</div>
                            <div class="__form-control-inputs ui-g-12 ui-md-8">
                                <div class="__input-wrapper">
                                    <p-inputSwitch [(ngModel)]="modelEdit.isActive" formControlName="isActive" pTooltip="Sử dụng">
                                    </p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-g row">
            <div class="ui-g-12">
                <button class="vs-btn vs-modal-btn vs-btn-action-edit" [disabled]="!formGroup.valid" (click)="save()" type="button">
                    <span class="__icon fa fa-floppy-o"></span>
                    <span class="__label">Lưu</span>
                </button>
                <button type="button" (click)="closePopupMethod(null)" class="vs-btn vs-modal-btn vs-btn-action-back">
                    <span class="__icon fa fa-times"></span>
                    <span class="__label">Đóng</span>
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>